{% extends "base.html" %} {% block content %}
<div class="compare-files">
  <h2>Compare Files</h2>
  <form method="POST" enctype="multipart/form-data">
    <div class="file-upload">
      <label for="pdf_file">Choose a PDF File:</label>
      <input type="file" name="pdf_file" id="pdf_file" accept=".pdf" required />
    </div>

    <div class="file-upload">
      <label for="excel_file">Choose a Excel File:</label>
      <input
        type="file"
        name="excel_file"
        id="excel_file"
        accept=".xls, .xlsx"
        required
      />
    </div>

    <button type="submit">Compare</button>
  </form>
</div>

{% if not pdf_form_data and not excel_json_data %}
<div class="comparison-tables">
  <div class="no-files-selected">No files selected</div>
</div>
{% endif %} {% if pdf_form_data and excel_json_data %}
<div class="comparison-tables">
  <div class="tables-wrapper">
    <div class="table-container">
      <h3>PDF File: {{ pdf_file_name }}</h3>
      <table>
        <thead>
          <tr>
            <th>Label</th>
            <th>Custom Label</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for field in pdf_form_data.values() %}
          <tr>
            <td>{{ field.label }}</td>
            <td>{{ field.customLabel }}</td>
            <td>{{ field.value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="table-container">
      <h3>Excel File: {{ excel_file_name }}</h3>
      <table>
        <thead>
          <tr>
            <th>Label</th>
            <th>Custom Label</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for field in excel_json_data %}
          <tr>
            <td>{{ field.label }}</td>
            <td>{{ field.customLabel }}</td>
            <td>{{ field.value }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="table-container">
      <h3>Comparision summary</h3>
      <table>
        <thead>
          <tr>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for field in comparison_results %}
          <tr class="{{ 'different' if not field.is_same else '' }}">
            <td>{{ 'Different' if not field.is_same else 'Same' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endif %}

<a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}
