body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

main {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* reeview mapping css */
.file-list {
    list-style-type: disc;
    padding: 0;
}

.file-list li {
    margin-bottom: 10px;
}

.file-list a {
    text-decoration: none;
    color: blue;
}

.file-list a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        box-shadow: none;
    }
    main {
        flex-direction: column;
    }
    .content {
        padding: 10px;
    }
}

/* Table preeview styles */
table {
    width: auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Table header styling */
th {
    background-color: #4CAF50; /* Green background for the header */
    color: white;              /* White text color */
    padding: 10px;
    text-align: center;
}

/* Table cell styling */
td {
    border: 1px solid #ddd;    /* Light gray border */
    padding: 8px;
    text-align: left;
    max-width: max-content;
}

/* Table row styling */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row color */
}

/* Button styling */
button {
    background-color: #4CAF50; /* Green background */
    color: white;              /* White text color */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Button hover effect */
button:hover {
    background-color: #45a049; /* Darker green background on hover */
}

/* Export file download link styling */
a {
    color: #4CAF50; /* Green text color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* upload pdf */
.upload-container {
    border: 1px solid black;
    border-radius: 12px;
    padding: 1rem;
}

.upload-container form {
    padding: 1rem;
    background-color: lightgrey;
}

/* Compare files */
.compare-files {
    margin-bottom: 20px;
    overflow-x: auto;
}

.compare-files form {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border: 1px solid lightblue;
    padding: 1rem;
}

.file-upload label {
    font-size: 16px;
    font-weight: bold;
}

input[type="file"] {
    position: relative;
}
input[type="file"]::file-selector-button {
    width: 136px;
    color: transparent;
    height: 2.5rem;
    border: 1px solid #0964b0
}

input[type="file"]::before {
    position: absolute;
    pointer-events: none;
    top: 0.5rem;
    left: 1rem;
    width: 2rem;
    content: "";
    background-image: url("https://img.icons8.com/?size=100&id=tWt9XCfjK1WM&format=png&color=000000");
}
input[type="file"]::after {
    position: absolute;
    pointer-events: none;
    top: 0.8rem;
    left: 2.5rem;
    color: #0964b0;
    content: "Upload file";
}
/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
  }
  
  /* file upload button active state */
  input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
  }

.comparison-tables {
    margin: 0;
}
.comparison-tables .no-files-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}
.tables-wrapper {
    display: flex; /* Displays tables in a row */
    align-items: flex-start;
}

.table-container {
    flex: 1; /* Each table takes up an equal amount of space */
    min-width: max-content; /* Ensures a minimum width for each table */
}

.table-container .table-action-buttons {
    height: 50px;
    background-color: #ecf0f2;
    width: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
}

.download-excel-anchor {
    background-color: #4CAF50;
    border: 1px solid lightgray;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin: 0 8px;
    padding: 10px;
    height: fit-content;
}

.download-excel-anchor a {
    color: white;
    text-decoration: none;
    text-decoration-style: none;
}


table {
    width: auto;
    border-collapse: collapse;
    table-layout: auto;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

table th, table td {
    white-space: nowrap;
}


table th {
    background-color: #4CAF50;
    font-weight: bold;
}

table td {
    width: max-content;
    min-width: 1px; /* Makes the column as wide as its content */
}

.different {
    background-color: #f8d7da !important;
}
